/* .nav_bar_div{
    background-color: blueviolet;
} */

/* .container_all{
    background-color: blueviolet;
} */
body{
    background-color: #eaeaea;
    /* background-color: black; !important */
}
a, p{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    padding: 0 50px 0 0;
    margin: 0%;
}
li{
    display: inline;
    float: right;
    padding:  100px 0 0 100px;
    
}
.li_right{
    float: left;
    padding: 102px 0 0 120px;
}
.nav_bar{
    margin: 0 auto;
    width: 1024px;
    height: 312px;
    /* border-width: 1px; */
    /* border-style: solid;
    border-color: black; */
    box-shadow: 2px 2px 10px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%);  */
}
header{
    background-image: url(pic/300642445_519483293465175_3573586539729186628_n.jpg);
    height: 312px;
    text-align: center;


    /* url(https://scontent.fvno2-1.fna.fbcdn.net/v/t39.30808-6/300642445_519483293465175_3573586539729186628_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=E913Ph76tsAAX_jIJvz&_nc_ht=scontent.fvno2-1.fna&oh=00_AfBUqoBWDzaP-lU1U0Hjh_doZwYF2Fvh3GqgJlU5l-sqoQ&oe=637FA76A); */




}
.main{
    width: 1024px;
    height: 1200px;
    margin: 25px auto;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    /* background-color: #125688 ; */
    /* background-color: #eaeaea; */
    box-shadow: 2px 2px 10px;
    background-image: url(pic/66199600_712644059170356_1051043127999070208_n.jpg);

    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%);  */
   
}
.logo_pic{
    width: 26%;
    float: left;
   /* border: 1px;
   border-color: black;
   border-style: solid; */
   box-shadow: 2px 2px 10px;
   margin-top: 21px;
}
.carousel_pic{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: aqua;
    box-shadow: 2px 2px 10px;

}

.carousel_vezim{
    width: 500px;
    height: 500px;
}
.input-group{
    padding-top: 20px;
    /* margin-top: 10px; */
    padding-left: 300px;

}

/* #form_uzsakymo{
    
    width: 500px;
    height: auto; */


footer{
    
    background-image: url(/pic/66199600_712644059170356_1051043127999070208_n.jpg);
   /* background-size: 80%;
   background-position: 55%; */
   background-color: #125688 ;
    /* background-color: #737380; */
    width: 1024px;
    height: 200px;
    margin: 25px auto;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    /* background-color: #eaeaea; */
    box-shadow: 2px 2px 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    
    text-align: center;
    text-decoration: none;
    
    
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #8a3ab9;
    color: white;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa_social{
    
    margin-left: 400px;
    padding-top: 30px;
    align-items: center;
  }

  .copyright{
    padding-top: 50px;
    margin-left: 340px;
  }

  .footpic{
    margin:  0 auto;
  }