/* .nav_bar_div{
    background-color: blueviolet;
} */

/* .container_all{
    background-color: blueviolet;
} */
body{
    background-color: #eaeaea;
}
a, p{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    padding: 0 50px 0 0;
    margin: 0%;
}
li{
    display: inline;
    float: right;
    padding:  100px 0 0 100px;
    
}
.li_right{
    float: left;
    padding: 102px 0 0 120px;
}
.nav_bar{
    margin: 0 auto;
    width: 1024px;
    height: 312px;
    /* border-width: 1px; */
    /* border-style: solid;
    border-color: black; */
    box-shadow: 2px 2px 10px;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%);  */
}
header{
    background-image: url(https://scontent.fvno2-1.fna.fbcdn.net/v/t39.30808-6/300642445_519483293465175_3573586539729186628_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=myRhemevZrkAX9KL58r&_nc_ht=scontent.fvno2-1.fna&oh=00_AT9rqGUcfJDi-oNReqlo7IfFjCuOb4LtZLAD-Z9L6eOXGQ&oe=635C0EEA);
    height: 312px;
    text-align: center;
}
.main{
    width: 1024px;
    height: 1200px;
    margin: 25px auto;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */
    background-color: #fff;
    box-shadow: 2px 2px 10px;

    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%);  */
   
}
.logo_pic{
    width: 26%;
    float: left;
   /* border: 1px;
   border-color: black;
   border-style: solid; */
   box-shadow: 2px 2px 10px;
   margin-top: 21px;
}
.carousel_pic{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: aqua;
    box-shadow: 2px 2px 10px;

}

.carousel_vezim{
    width: 500px;
    height: 500px;
}

.form_uzsakymo{
    width: 500px;
    height: auto;
}